/* styles */

body {
    background-color: black;
    color: white;
}

.wrapper {
    text-align: center;

}

.shopping-list ul, li {
    list-style-type: none;
    padding-bottom: 20px;
    text-align: left;
}

input[type="text"] {
    color: black;
}

#add-button {
    width: 9.688rem;
    background-color: green;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    font-size: 1.125rem;
}


#clear-button {
    width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    font-size: 1.125rem;
}